body {
    background-color: lightblue;
}

.container {
    display: flex;
    margin: 15px;
    padding: 10px;
    font-size: medium;
       
}

p{
    margin: 25px;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    background-image: url(images/bandera.jpg);
    background-position: 5px;
    border: 5px black;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 50px;
}

body{
    margin: 5px
}

.form-content {
    background-color:rgb(152, 191, 192); 
    border: black double 5px;
    padding: 5px;
}